$primary-color: #6fa6e8;
$green-color: #0dbf6d;
$gray-color: #a0a6ae;
$gray-lighter-color: #f9f9fb;

$min-width-md: 520px;

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #282c4c;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.goal-widget {
    padding: 16px 12px 10px;
    background-color: #fff;
    border-radius: 5px;

    @media (min-width: $min-width-md) {
        width: 480px;
    }
}

.goal-widget-counter {
    position: relative;
    text-align: center;
}

.goal-widget-header {
    margin: 0;
    font-size: 16px;
    color: $primary-color;
    text-transform: uppercase;
}

.goal-widget-achivements {
    display: flex;
    flex-flow: column;
    margin-top: 24px;
    margin-bottom: 28px;

    @media (min-width: $min-width-md) {
        flex-flow: row;
    }
}

.counter-image svg {
    max-height: 124px;
    max-width: 138px;
}

.counter-image svg path {
    transition: .7s ease;
}

.current-count {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: $min-width-md) {
        width: 138px;
    }
}

.current-count-text {
    font-size: 14px;
    color: $gray-color;
}

.current-count-score {
    margin-bottom: 16px;
    font-size: 32px;
}

.goal-count {
    font-size: 14px;
    font-weight: 700;
}

.goal-widget-info {
    margin-top: 28px;
    text-align: center;
    width: 100%;

    @media (min-width: $min-width-md) {
        padding-left: 68px;
        margin-top: 0;
        text-align: left;
    }
}

.achivement-requirement {
    display: block;

    @media (min-width: $min-width-md) {
        max-width: 220px;
    }
}

.achivement-requirement-value {
    font-weight: 700;
}

.streaks-info {
    display: flex;
}

.streak-panel {
    display: flex;
    flex: 1 0;
    flex-flow: column;
    align-items: center;
    padding: 16px 10px;
    margin: 20px 4px;
    background-color: $gray-lighter-color;
    border-radius: 5px;
}

.streak-count {
    font-size: 20px;
    font-weight: 700;
}

.leaderboard-header {
    display: flex;
    align-items: center;
    margin: 0 0 24px;
}

.time-range-select {
    margin-left: auto;
    height: 42px;
    width: 120px;
    font-size: 16px;
    background-color: $gray-lighter-color;
    color: #676f7c;
}

.leaderboard-table {
    padding: 0;
    margin: 0;
    list-style: none;
}

.leaderboard-row {
    display: flex;
    align-items: center;
    padding: 12px 12px;
    margin-bottom: 4px;
    border-radius: 3px;
    box-shadow: 4px 4px 10px 2px #efefef;

    .leaderboard-rank {
        font-weight: 700;
    }

    &.rank-up {
        .leaderboard-rank {
            color: $green-color;
            border-color: $green-color;
        }
    }

    &.rank-same {
        .leaderboard-rank {
            color: $gray-color;
        }
    }

    &.rank-down {
        .leaderboard-rank {
            color: red;
        }
    }

    &.my-score {
        background: $green-color;

        .leaderboard-rank {
            color: #fff;
            border-color: #fff;
        }

        .leaderboard-person, .leaderboard-score {
            color: #fff;
        }

        .leaderboard-rank-change {
            border-bottom-color: #fff;

            &::after {
                border-bottom-color: $green-color;
            }
        }
    }
}

.leaderboard-rank {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    width: 16px;
    height: 16px;
    border-style: solid;
    border-width: 1px;
    font-size: 20px;
    border-radius: 50%;
}

.leaderboard-person {
    margin-left: 24px;
    font-weight: 700;
}

.leaderboard-score-wrap {
    display: flex;
    margin-left: auto;
}

.leaderboard-rank-change {
    margin-left: 20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid;

    &::after {
        content: "";
        display: block;
        position: relative;
        top: 16px;
        left: -12px;
        width: 0px;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 4px solid #fff;
    }

    &.rank-up {
        border-bottom-color: $green-color;
    }

    &.rank-same {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #dfe3e9;
        border: 0;
        border-bottom-color: transparent;

        &::after {
            border-bottom-color: transparent;
        }
    }

    &.rank-down {
        border-bottom-color: red;
        transform: rotate(180deg);
    }
}