html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #282c4c;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.goal-widget {
  padding: 16px 12px 10px;
  background-color: #fff;
  border-radius: 5px;
}
@media (min-width: 520px) {
  .goal-widget {
    width: 480px;
  }
}

.goal-widget-counter {
  position: relative;
  text-align: center;
}

.goal-widget-header {
  margin: 0;
  font-size: 16px;
  color: #6fa6e8;
  text-transform: uppercase;
}

.goal-widget-achivements {
  display: flex;
  flex-flow: column;
  margin-top: 24px;
  margin-bottom: 28px;
}
@media (min-width: 520px) {
  .goal-widget-achivements {
    flex-flow: row;
  }
}

.counter-image svg {
  max-height: 124px;
  max-width: 138px;
}

.counter-image svg path {
  transition: 0.7s ease;
}

.current-count {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 520px) {
  .current-count {
    width: 138px;
  }
}

.current-count-text {
  font-size: 14px;
  color: #a0a6ae;
}

.current-count-score {
  margin-bottom: 16px;
  font-size: 32px;
}

.goal-count {
  font-size: 14px;
  font-weight: 700;
}

.goal-widget-info {
  margin-top: 28px;
  text-align: center;
  width: 100%;
}
@media (min-width: 520px) {
  .goal-widget-info {
    padding-left: 68px;
    margin-top: 0;
    text-align: left;
  }
}

.achivement-requirement {
  display: block;
}
@media (min-width: 520px) {
  .achivement-requirement {
    max-width: 220px;
  }
}

.achivement-requirement-value {
  font-weight: 700;
}

.streaks-info {
  display: flex;
}

.streak-panel {
  display: flex;
  flex: 1 0;
  flex-flow: column;
  align-items: center;
  padding: 16px 10px;
  margin: 20px 4px;
  background-color: #f9f9fb;
  border-radius: 5px;
}

.streak-count {
  font-size: 20px;
  font-weight: 700;
}

.leaderboard-header {
  display: flex;
  align-items: center;
  margin: 0 0 24px;
}

.time-range-select {
  margin-left: auto;
  height: 42px;
  width: 120px;
  font-size: 16px;
  background-color: #f9f9fb;
  color: #676f7c;
}

.leaderboard-table {
  padding: 0;
  margin: 0;
  list-style: none;
}

.leaderboard-row {
  display: flex;
  align-items: center;
  padding: 12px 12px;
  margin-bottom: 4px;
  border-radius: 3px;
  box-shadow: 4px 4px 10px 2px #efefef;
}
.leaderboard-row .leaderboard-rank {
  font-weight: 700;
}
.leaderboard-row.rank-up .leaderboard-rank {
  color: #0dbf6d;
  border-color: #0dbf6d;
}
.leaderboard-row.rank-same .leaderboard-rank {
  color: #a0a6ae;
}
.leaderboard-row.rank-down .leaderboard-rank {
  color: red;
}
.leaderboard-row.my-score {
  background: #0dbf6d;
}
.leaderboard-row.my-score .leaderboard-rank {
  color: #fff;
  border-color: #fff;
}
.leaderboard-row.my-score .leaderboard-person, .leaderboard-row.my-score .leaderboard-score {
  color: #fff;
}
.leaderboard-row.my-score .leaderboard-rank-change {
  border-bottom-color: #fff;
}
.leaderboard-row.my-score .leaderboard-rank-change::after {
  border-bottom-color: #0dbf6d;
}

.leaderboard-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  border-radius: 50%;
}

.leaderboard-person {
  margin-left: 24px;
  font-weight: 700;
}

.leaderboard-score-wrap {
  display: flex;
  margin-left: auto;
}

.leaderboard-rank-change {
  margin-left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid;
}
.leaderboard-rank-change::after {
  content: "";
  display: block;
  position: relative;
  top: 16px;
  left: -12px;
  width: 0px;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 4px solid #fff;
}
.leaderboard-rank-change.rank-up {
  border-bottom-color: #0dbf6d;
}
.leaderboard-rank-change.rank-same {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #dfe3e9;
  border: 0;
  border-bottom-color: transparent;
}
.leaderboard-rank-change.rank-same::after {
  border-bottom-color: transparent;
}
.leaderboard-rank-change.rank-down {
  border-bottom-color: red;
  transform: rotate(180deg);
}

/*# sourceMappingURL=style.css.map */
